@font-face {
  font-family: 'tve-ff-4921-5b234717aec22';
  src:  url('fonts/icomoon.eot?hyiv8o');
  src:  url('fonts/icomoon.eot?hyiv8o#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?hyiv8o') format('truetype'),
    url('fonts/icomoon.woff?hyiv8o') format('woff'),
    url('fonts/icomoon.svg?hyiv8o#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="tve-icm-5b234717aed31-"], [class*="tve-icm-5b234717aed31-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'tve-ff-4921-5b234717aec22' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.tve-icm-5b234717aed31-number10:before {
  content: "\e912";
}
.tve-icm-5b234717aed31-number11:before {
  content: "\e913";
}
.tve-icm-5b234717aed31-number12:before {
  content: "\e914";
}
.tve-icm-5b234717aed31-number13:before {
  content: "\e915";
}
.tve-icm-5b234717aed31-number14:before {
  content: "\e916";
}
.tve-icm-5b234717aed31-number15:before {
  content: "\e917";
}
.tve-icm-5b234717aed31-number16:before {
  content: "\e918";
}
.tve-icm-5b234717aed31-number17:before {
  content: "\e919";
}
.tve-icm-5b234717aed31-number18:before {
  content: "\e91a";
}
.tve-icm-5b234717aed31-number19:before {
  content: "\e91b";
}
.tve-icm-5b234717aed31-number:before {
  content: "\e909";
}
.tve-icm-5b234717aed31-number2:before {
  content: "\e90a";
}
.tve-icm-5b234717aed31-number3:before {
  content: "\e90b";
}
.tve-icm-5b234717aed31-number4:before {
  content: "\e90c";
}
.tve-icm-5b234717aed31-number5:before {
  content: "\e90d";
}
.tve-icm-5b234717aed31-number6:before {
  content: "\e90e";
}
.tve-icm-5b234717aed31-number7:before {
  content: "\e90f";
}
.tve-icm-5b234717aed31-number8:before {
  content: "\e910";
}
.tve-icm-5b234717aed31-number9:before {
  content: "\e911";
}
.tve-icm-5b234717aed31-quote-right:before {
  content: "\e908";
}
.tve-icm-5b234717aed31-arrow-circle-left:before {
  content: "\e906";
}
.tve-icm-5b234717aed31-arrow-left2:before {
  content: "\e907";
}
.tve-icm-5b234717aed31-chevron-circle-right:before {
  content: "\e903";
}
.tve-icm-5b234717aed31-arrow-circle-right:before {
  content: "\e904";
}
.tve-icm-5b234717aed31-arrow-right:before {
  content: "\e905";
}
.tve-icm-5b234717aed31-gift2:before {
  content: "\e902";
}
.tve-icm-5b234717aed31-graduation-cap:before {
  content: "\e900";
}
.tve-icm-5b234717aed31-mortar-board:before {
  content: "\e900";
}
.tve-icm-5b234717aed31-blur_linear:before {
  content: "\e901";
}
.tve-icm-5b234717aed31-books:before {
  content: "\e920";
}
.tve-icm-5b234717aed31-phone:before {
  content: "\e942";
}
.tve-icm-5b234717aed31-bell:before {
  content: "\e951";
}
.tve-icm-5b234717aed31-wrench:before {
  content: "\e991";
}
.tve-icm-5b234717aed31-gift:before {
  content: "\e99f";
}
.tve-icm-5b234717aed31-arrow-right2:before {
  content: "\ea34";
}
.tve-icm-5b234717aed31-arrow-left:before {
  content: "\ea38";
}
.tve-icm-5b234717aed31-book:before {
  content: "\e91f";
}
.tve-icm-5b234717aed31-books:before {
  content: "\e920";
}
.tve-icm-5b234717aed31-phone:before {
  content: "\e942";
}
.tve-icm-5b234717aed31-bell:before {
  content: "\e951";
}
.tve-icm-5b234717aed31-wrench:before {
  content: "\e991";
}
.tve-icm-5b234717aed31-gift:before {
  content: "\e99f";
}
.tve-icm-5b234717aed31-arrow-right2:before {
  content: "\ea34";
}
.tve-icm-5b234717aed31-arrow-left:before {
  content: "\ea38";
}
.tve-icm-5b234717aed31-circle-up:before {
  content: "\ea41";
}
.tve-icm-5b234717aed31-circle-down:before {
  content: "\ea43";
}
